body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  text-shadow: -2px -2px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  width: 100%;
  height: 100%;
  font-size: 25px;
}

h1 {
  text-align: center;
  margin: 60px;
}

h5 {
  padding: 0px;
  margin: 0px;
}

.container {
  display: block;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}

.container input {
  margin: 7px;
}

#submitButton, #resetButton, #enableButton, #searchTag {
  background-color: transparent;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  color: white;
  text-shadow: -2px -2px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 4px;
  margin: 3px;
  width: 20%;
  height: 5%;
}

#texts {
  padding: 7px;
}

#searchTag {
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-transform: lowercase;
}

#searchTag::placeholder {
  color: white;
}

#submitStatus {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  h1 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }
  h5 {
    font-size: 13px;
  }
  .container {
    display: block;
    text-align: left;
  }
  #buttons, #texts {
    text-align: center;
  }
  #submitButton, #resetButton, #enableButton, #searchTag {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    font-size: 10px;
    width: 65%;
    height: 2.5%;
  }
  #searchTag {
    font-size: 15px;
  }
}